<<<<<<< HEAD
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Jonkala{
  color: black;
  background-color: red;
}
=======
>>>>>>> 2010b35429047723aef083dcdd7fb3e6df15289a
